#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Bayanat
Comment=Lightweight PostgreSQL Client
Exec=python3 /var/my-apps/bayanat/main.py
Path=/var/my-apps/bayanat
Icon=/var/my-apps/bayanat/img/bayanat-icon.png
Terminal=false
Type=Application
Categories=Development;Database;
